*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 
}

body{
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

img{
    display: block;
    max-width: 100%;
}

section {
    scroll-margin-top: 10px;
}

.container-logo{
    background-color: #F2F2EC;
    margin-bottom: 60px;
    padding: 20px;
}
.container-logo img{
    width: 200px;
    height: auto;  
    display: block;
    margin: 0 auto;
}


.header ul{
    display: flex;
    flex-wrap: wrap;
     border-radius: 10px;
     gap: 20px;
    justify-content: center;
    padding: 10px;
}

.header li{
    background-color: #F2F2EC;
     border-radius: 8px;
}


.header li a{
    display: block;
    padding: 15px 30px;
    color: #A3591C;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.header li a:hover{
    background-color: #dcd7c3;
     border-radius: 8px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.search-box {
  position: relative;
}

.search-box i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #a67c52; 
}

.search-box input {
  width: 400px;
  
  outline: none;
  padding: 8px 12px 8px 35px; 
  border: 1px solid orange;
  border-radius: 4px;
}



.container-titulo{
    background-color: #F2F2EC;
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.titulo{
    font-family: "Poppins", sans-serif;
    color: #A3591C;
    font-weight: regular;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}


.grid-section{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap:50px;
   max-width: 800px;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 80px;
}


.item img{
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.3);
}



.item p {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #3E4952;
}

.item span{
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    color: #3E4952;
}

.faq-lista{
    grid-column: 1 / -1;
}

.faq-lista dt{
   font-family: "IBM Plex Mono", monospace;
   font-weight: bold;
   margin-top:2rem;
   margin-bottom: .5rem;
   color: #A3591C;
   cursor: pointer; 
}

.faq-lista dt::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.copy{
    background: #FB5;
}

.copy p{
    padding: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}

@media(max-width: 700px){
    section{
        scroll-margin-top: 5px;
    }
    .container-logo{
        margin-bottom: 30px;
    }
     .header-bg {
        margin-top: 0px;
     }
    .header ul {
        margin-top: 10px;
        gap: 10px;

    }
    .header li a{
         padding: 10px 20px;
         font-size: 0.765rem;
         border-radius: 5px;
    }

    .search-box input {
        width: 300px;
    }
    .titulo{
        font-size: 1.5rem;
    }
    .grid-section{
        grid-template-columns: repeat(2, 1fr);
        margin: 15px;
        gap: 15px;
    }
    .faq-lista  {
       grid-column: 1 / -1;
    }
    .faq-lista dt{
        font-size: 0.950rem;
    }

     .faq-lista dd{
        font-size: 0.850rem;
    }
}

.js-accordion dd {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.js-accordion dt.ativo + dd {
  max-height: 500px; 
  opacity: 1;
}


.js-accordion dt::after{
    content:'⬎';
    margin-left: 10px;
    font-size: 1.3em;
    font-weight: normal;
}

.js-accordion dt.ativo::after{
    content: '⬏';
}

